name: Run Makefile

on:
  push:

  pull_request:

  workflow_dispatch:
    
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: brew install ldid

      - name: Compile
        run: IOS=1
      
      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
           localDir: 'packages/'
          remoteDir: '/artifacts/loader/palera1n.ipa'
